<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Car</title>
    <link rel='stylesheet' href='/styles.css'/>
    <link rel='stylesheet' href='/normalize.css'/>

  </head>
  <body>
    <div class="dual-column-container">
      <div class="left-column column-light centered register">
        <h1>Register a new car</h1>

        <form class="add-car-form" action="/auth/register" method="post">
          <div class="spaced">Team Name: *</div>
          <input type="text" name="team" value="" required="required">
          <div class="spaced">Car Name: *</div>
          <input type="text" name="car" value="" required="required">
          <div class="spaced">Race Number:</div>
          <input type="text" name="number" value="">
          <div class="spaced">Password: *</div>
          <input type="text" name="password" value="">
          <div style="font-size:10px; color:#555">Make this something you can share with the team.</div>
          <div class="spaced">Email:</div>
          <input type="email" name="email" value="">
          <div style="font-size:10px; color:#555">
            By entering your email you agree to recieve occasional updates from us. We will never share your email and you can unsubscribe at any time.
          </div>
          <div style="height: 20px"></div>
          <input type="submit" name="submit" value="Register Car">
        </form>
      </div>

    </div>

  </body>
</html>