<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='/normalize.css'/>
  </head>
  <body>
    <h1>You added a car!</h1>
    <div>Name:
      <strong><%= car %>
      </strong>
    </div>
    <div>Team:
      <%= team %></div>
    <div>
      password
      <%= password %>
      (Don't loose this!)</div>
    <div>TODO - add email confirmation with this information</div>
  </body>
</html>
