<!DOCTYPE html>
<html>

  <head></head>

  <body>
    <h1>Cars.ejs</h1>
    <div>
      <% for(var i=0; i < data.length; i++) { %>
        <div>Car Name:
          <%= data[i].car %></div>
      <% } %>
    </div>

    <div>Need to add your car?
      <a href="/add">Go Here</a>
    </div>
  </body>

</html>
