<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/normalize.css'/>
  </head>

  <body>
    <h1>Cars.ejs</h1>
    <div>
      <% for(var i=0; i < data.length; i++) { %>
        <div>Car Name:
          <%= data[i].car %></div>
      <% } %>
    </div>

    <div>Need to add your car?
      <a href="/add">Go Here</a>
    </div>

    <form class="SelectCarForm" action="/data" method="post">
      <input type="text" name="passcode" value="">
      <input type="submit" name="" value="Go!">

    </form>
  </body>

</html>
